.gradient-1 {
  background: linear-gradient(to bottom right, #06b6d4, #10b981);
}

.gradient-2 {
  background: linear-gradient(to bottom right, #ec4899, #6366f1);
}

.gradient-3 {
  background: linear-gradient(to bottom right, #f97316, #eab308);
}
